In [5]:
from bs4 import BeautifulSoup
import pickle
import requests
import pandas as pd
import os

In [2]:
def get_sp500_current_table():
    url = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = BeautifulSoup(url.text, 'lxml')

    sp500_table = soup.find('table', {'id': 'constituents'})
    if not sp500_table:
        raise ValueError("The 'constituents' table could not be found.")

    rows = sp500_table.find_all('tr')

    tickers = []
    company_names = []
    industries = []
    sub_industries = []
    headquarters_list = []  
    dates_added = []
    ciks = []

    for row in rows[1:]:
        cols = row.find_all('td')
        if len(cols) < 7:  
            print("Skipping a row due to insufficient columns.")
            continue

        ticker = cols[0].text.strip()
        company_name = cols[1].text.strip()
        industry = cols[3].text.strip()
        sub_industry = cols[4].text.strip()
        headquarters_location = cols[5].text.strip()  
        date_added = cols[6].text.strip()
        cik = cols[7].text.strip() if len(cols) > 7 else None

        tickers.append(ticker)
        company_names.append(company_name)
        industries.append(industry)
        sub_industries.append(sub_industry)
        headquarters_list.append(headquarters_location)  
        dates_added.append(date_added)
        ciks.append(cik)

    df = pd.DataFrame({
        'Ticker': tickers,
        'Company Name': company_names,
        'Industry': industries,
        'Sub-Industry': sub_industries,
        'Headquarters': headquarters_list,  
        'Date Added': dates_added,
        'CIK': ciks
    })

    return df

In [3]:
sp500_df = get_sp500_current_table()

In [4]:
df = pd.DataFrame(sp500_df)
df = df.drop(columns=['Date Added'])
df = df.rename(columns={'Headquarters': 'Date Added'})
df = df.rename(columns={'CIK': 'Founded'})
df

,Ticker,Company Name,Industry,Sub-Industry,Date Added,Founded
0,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,1902
1,AOS,A. O. Smith,Building Products,"Milwaukee, Wisconsin",2017-07-26,1916
2,ABT,Abbott Laboratories,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1888
3,ABBV,AbbVie,Biotechnology,"North Chicago, Illinois",2012-12-31,2013 (1888)
4,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1989
...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,2011
499,YUM,Yum! Brands,Restaurants,"Louisville, Kentucky",1997-10-06,1997
500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,1969
501,ZBH,Zimmer Biomet,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1927
502,ZTS,Zoetis,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1952

In [ ]:
df.to_csv('../sp500data/SP500StockInformation.csv')

In [6]:
df = pd.read_csv('../sp500data/SP500StockInformation.csv')
df

,Unnamed: 0,Ticker,Company Name,Industry,Sub-Industry,Date Added,Founded
0,0,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,1902
1,1,AOS,A. O. Smith,Building Products,"Milwaukee, Wisconsin",2017-07-26,1916
2,2,ABT,Abbott Laboratories,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1888
3,3,ABBV,AbbVie,Biotechnology,"North Chicago, Illinois",2012-12-31,2013 (1888)
4,4,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1989
...,...,...,...,...,...,...,...
498,498,XYL,Xylem Inc.,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,2011
499,499,YUM,Yum! Brands,Restaurants,"Louisville, Kentucky",1997-10-06,1997
500,500,ZBRA,Zebra Technologies,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,1969
501,501,ZBH,Zimmer Biomet,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1927
502,502,ZTS,Zoetis,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1952

In [7]:
import yfinance as yf
import datetime as dt

start = dt.datetime(2018, 1, 1)
end = dt.datetime.now()

list = df['Ticker']

ticker_data = []

In [ ]:
for ticker in list:
    try:
        prices_df = yf.download(ticker, start, end)['Close']
        ticker_data.append(prices_df.rename(ticker))
    except Exception as e:
        print(f"Failed to download {ticker}: {e}")

all_prices_df = pd.concat(ticker_data, axis=1)

file = '../sp500data/SP500PriceHistory.csv'
all_prices_df.to_csv(file)

In [ ]:
start = dt.datetime(2018, 1, 1)
end = dt.datetime.now()

list = df['Ticker']

# Collect data for each ticker
data_list = []

for ticker in list:
    try:
        prices_df = yf.download(ticker, start, end)['Close']
        # Reset index to make Date a column
        prices_df = prices_df.reset_index()
        # Add ticker column
        prices_df['Ticker'] = ticker
        # Rename Date column
        prices_df.columns = ['Date', 'Close', 'Ticker']
        # Reorder columns
        prices_df = prices_df[['Date', 'Ticker', 'Close']]
        
        data_list.append(prices_df)
    except Exception as e:
        print(f"Failed to download {ticker}: {e}")

# Concatenate all data vertically
vertical_df = pd.concat(data_list, ignore_index=True)

vertical_df.to_csv('../sp500data/SP500_vertical_prices.csv', index=False)